@use 'variables';

h1 {
    color: variables.$red-color;
}

h2 {
    color: variables.$blue-color;
}

.select-all {
    width: 120px;
    margin: 0 16px;
}

// .disabled {
//     width: 120px;
//     margin: 0 16px;
// }
